* {
    box-sizing: border-box;
    font-family: 'Mochiy Pop One', sans-serif;
}

html {
    background-color: #fafafa;
}

h1,
#resetBtn {
    color:#EC994B;
    letter-spacing: 2px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #15133C;
}

img {
    background-color: #F1EEE9;
    border: 5px solid #15133C;
    border-radius: 10px;
    max-width: 100%;
    height: auto;
    transition: border-color 0.3s ease;
}

.wrapper {
    width:auto;
    margin:0 auto;
    max-width: 1440px;
    display: flex;
    justify-content: space-around;
}

.player,
.computer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.player {
    margin-right: 80px;
} 

.player-icons img:hover {
    border-color: #EC994B;
    cursor: pointer;
}

.player-icons,
.computer-icons {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.choice-btn {
    display: flex;
    padding: 0;
    border: 0;
}

.thisRound {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.computer-border-selected {
    border: 5px solid #EC994B;
}

#resetBtn {
    background-color: #F1EEE9;
    border: 5px solid #15133C;
    border-radius: 10px;
    padding: 10px;
    max-width: fit-content;
    height: auto;
    transition: border-color 0.3s ease;
    font-size: 2rem;
}

#resetBtn:hover {
    border-color: #EC994B;
    cursor: pointer;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3); 
}

.modal-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 5px solid #15133C;
    border-radius: 10px;
    height: auto;
    max-width: max-content;
}

@media screen and (max-width:888px) {
    h1,
    #resetBtn {
        font-size: 1rem;
    }

    .player,
    .computer {
        width: 33%;
    }

    .player-icons, 
    .computer-icons {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 15px;
        max-width: 85px;
    }
}